{% extends "base.html" %}

{% block body %}
<center><h1>Things that have been FOUND:</h1></center>
<div class="pure-g">
{% for post in foundPosts %}
<div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-3">
  <section class="post">
    <div>
      <a href="http://facebook.com/{{post.uid}}"<img src={{post.picture}} class="profile"></img></a>
      <span>{{post.name}}</span>
    </div>
    <div>
      <p>
	{{post.content}}
      </p>
    </div>
    <div class="comments">
   <a href=post/{{post['id']}}> <p> Leave a comment</p></a>
    </div>
    <div class="tag">
      <p>#found, {{post.tagsChosen}}</p>
    </div>
  </section>
</div>
</div>
{% endfor %}
{% endblock body %}
