{% extends "base.html" %}

{% block body %}
<div class ="postSingular">
    <div>
      <img src={{post.picture}} class="profile"></img> <a href="http://facebook.com/{{post.uid}}">{{post.name}}</a>
    </div>
    <div>
      <p>
	{{post.content}}
      </p>
    </div>
    <div class="comments">
      </div>
    <div class="tag">
      <p>#lost, {{post.tagsChosen}}</p>
    </div>


<form class="pure-form center" method="post">

<textarea class="pure-input-1" name="newComment" placeholder="Leave a comment..." rows="5px" cols="120px"></textarea><br>
<input type="hidden" name="variables" id = "vars" value="" />
<input type="hidden" name="picture" id = "profilepic" value="" />
<input type="hidden" name="url" id="link" value="" />
<button class="pure-button" onclick="checkLoginState()" style="font-size:70%;">Post</button>
</form>

<br>
<br>
{% for each in comments %}

{% if post_id == each['uid'] %}
    <div>
      <img src={{pic}} class="profile"></img> <a href="http://facebook.com/{id}}">{{each['pid']}}</a>
    </div>
    <div>
      <p>
        {{each['content']}}
      </p>
    </div>
{% endif %}

{% endfor %}




  <script>
    (function (window, document) {
    var menu = document.getElementById('menu'),
    WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

    function toggleHorizontal() {
    [].forEach.call(
    document.getElementById('menu').querySelectorAll('.custom-can-transform'),
    function(el){
    el.classList.toggle('pure-menu-horizontal');
    }
    );
    };

    function toggleMenu() {
    // set timeout so that the panel has a chance to roll up
    // before the menu switches states
    if (menu.classList.contains('open')) {
    setTimeout(toggleHorizontal, 500);
    }
    else {
    toggleHorizontal();
    }
    menu.classList.toggle('open');
    document.getElementById('toggle').classList.toggle('x');
    };

    function closeMenu() {
    if (menu.classList.contains('open')) {
    toggleMenu();
    }
    }

    document.getElementById('toggle').addEventListener('click', function (e) {
    toggleMenu();
    });

    window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
    })(this, this.document);


    function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
    // Logged into your app and Facebook.
    testAPI();
    } else if (response.status === 'not_authorized') {
    // The person is logged into Facebook, but not your app.
    document.getElementById('status').innerHTML = 'Please log ' +
    'into this app.';
    } else {
    // The person is not logged into Facebook, so we're not sure if
    // they are logged into this app or not.
    document.getElementById("vars").value = "Anonymous";
    document.getElementById("profilepic").value = "http://www.lcfc.com/images/common/bg_player_profile_default_big.png";
    document.getElementById('status').innerHTML = 'Please log ' +
    'into Facebook.';
    }
    }

    function checkLoginState() {
    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
    }

    window.fbAsyncInit = function() {
    FB.init({
    appId      : '495797037296598',
    cookie     : true,  // enable cookies to allow the server to access
    // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
    });

    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
    };

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    var userName, userPicture;
    var userID;
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
    console.log('Successful login for: ' + response.name);
    window.userRealID = response.id;
    window.userID = response.name;
    window.userPicture = "http://graph.facebook.com/"+window.userRealID+"/picture/";
    window.link = "http://facebook.com/"+window.userRealID;
    document.getElementById('status').innerHTML =
    'Thanks for logging in, ' + response.name + '! Your account is now linked to Stuyvesant Lost and Found.';
    });
    document.getElementById("vars").value = window.userID;
    document.getElementById("profilepic").value = window.userPicture;
    document.getElementById("link").value = window.userRealID;
    //$.post($SCRIPT_ROOT+"/secret", {"userIDNum":userID}, function(data){console.log(data)});
    }
  </script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

{% endblock body %}
